@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/gilroy-black.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-black.woff2") format("woff2"), url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.ttf") format("truetype"), url("../fonts/gilroy-black.svg#gilroy-black") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-BlackItalic";
  src: url("../fonts/gilroy-blackitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-blackitalic.woff2") format("woff2"), url("../fonts/gilroy-blackitalic.woff") format("woff"), url("../fonts/gilroy-blackitalic.ttf") format("truetype"), url("../fonts/gilroy-blackitalic.svg#gilroy-blackitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url("../fonts/gilroy-bolditalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bolditalic.woff2") format("woff2"), url("../fonts/gilroy-bolditalic.woff") format("woff"), url("../fonts/gilroy-bolditalic.ttf") format("truetype"), url("../fonts/gilroy-bolditalic.svg#gilroy-bolditalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-ExtraBoldItalic";
  src: url("../fonts/gilroy-extrabolditalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-extrabolditalic.woff2") format("woff2"), url("../fonts/gilroy-extrabolditalic.woff") format("woff"), url("../fonts/gilroy-extrabolditalic.ttf") format("truetype"), url("../fonts/gilroy-extrabolditalic.svg#gilroy-extrabolditalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../fonts/gilroy-heavy.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-heavy.woff2") format("woff2"), url("../fonts/gilroy-heavy.woff") format("woff"), url("../fonts/gilroy-heavy.ttf") format("truetype"), url("../fonts/gilroy-heavy.svg#gilroy-heavy") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-HeavyItalic";
  src: url("../fonts/gilroy-heavyitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-heavyitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-heavyitalic.woff2") format("woff2"), url("../fonts/gilroy-heavyitalic.woff") format("woff"), url("../fonts/gilroy-heavyitalic.ttf") format("truetype"), url("../fonts/gilroy-heavyitalic.svg#gilroy-heavyitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-LightItalic";
  src: url("../fonts/gilroy-lightitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-lightitalic.woff2") format("woff2"), url("../fonts/gilroy-lightitalic.woff") format("woff"), url("../fonts/gilroy-lightitalic.ttf") format("truetype"), url("../fonts/gilroy-lightitalic.svg#gilroy-lightitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("../fonts/gilroy-mediumitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-mediumitalic.woff2") format("woff2"), url("../fonts/gilroy-mediumitalic.woff") format("woff"), url("../fonts/gilroy-mediumitalic.ttf") format("truetype"), url("../fonts/gilroy-mediumitalic.svg#gilroy-mediumitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("../fonts/gilroy-regularitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regularitalic.woff2") format("woff2"), url("../fonts/gilroy-regularitalic.woff") format("woff"), url("../fonts/gilroy-regularitalic.ttf") format("truetype"), url("../fonts/gilroy-regularitalic.svg#gilroy-regularitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-SemiBoldItalic";
  src: url("../fonts/gilroy-semibolditalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibolditalic.woff2") format("woff2"), url("../fonts/gilroy-semibolditalic.woff") format("woff"), url("../fonts/gilroy-semibolditalic.ttf") format("truetype"), url("../fonts/gilroy-semibolditalic.svg#gilroy-semibolditalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Thin";
  src: url("../fonts/gilroy-thin.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-thin.woff2") format("woff2"), url("../fonts/gilroy-thin.woff") format("woff"), url("../fonts/gilroy-thin.ttf") format("truetype"), url("../fonts/gilroy-thin.svg#gilroy-thin") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-ThinItalic";
  src: url("../fonts/gilroy-thinitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-thinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-thinitalic.woff2") format("woff2"), url("../fonts/gilroy-thinitalic.woff") format("woff"), url("../fonts/gilroy-thinitalic.ttf") format("truetype"), url("../fonts/gilroy-thinitalic.svg#gilroy-thinitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("../fonts/gilroy-ultralight.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-ultralight.woff2") format("woff2"), url("../fonts/gilroy-ultralight.woff") format("woff"), url("../fonts/gilroy-ultralight.ttf") format("truetype"), url("../fonts/gilroy-ultralight.svg#gilroy-ultralight") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-UltraLightItalic";
  src: url("../fonts/gilroy-ultralightitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-ultralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-ultralightitalic.woff2") format("woff2"), url("../fonts/gilroy-ultralightitalic.woff") format("woff"), url("../fonts/gilroy-ultralightitalic.ttf") format("truetype"), url("../fonts/gilroy-ultralightitalic.svg#gilroy-ultralightitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
header {
  position: relative;
  width: 100vw;
  padding: 15px 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
header.sticky {
  position: fixed;
}
@media (max-width: 767px) {
  header {
    height: 70px;
    padding: 10px 5px;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  align-items: center;
}
@media (max-width: 1199px) {
  .header {
    grid-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    grid-gap: 10px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.header__logo {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1199px) {
  .header__logo {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 767px) {
  .header__logo {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
.header__logo a img {
  height: 60px;
}
@media (max-width: 767px) {
  .header__logo a img {
    max-height: 50px;
  }
}
.header__menu {
  grid-column-start: 3;
  grid-column-end: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2em;
}
@media (max-width: 1199px) {
  .header__menu {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  margin: 0 15px;
  transition: 0.2s;
}
.header__menu-item:hover {
  color: #525923;
  transition: 0.2s;
}
.header__contacts {
  grid-column-start: 8;
  grid-column-end: 11;
  display: grid;
  grid-gap: 6px;
  justify-self: center;
  font-size: 1.2em;
  color: #343A0B;
}
@media (max-width: 1199px) {
  .header__contacts {
    grid-column-start: 2;
    grid-column-end: 8;
    justify-self: flex-start;
  }
}
@media (max-width: 767px) {
  .header__contacts {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-gap: 3px;
  }
}
.header__contacts-phone {
  font-size: 1.3em;
  font-weight: 600;
  color: #343A0B;
}
@media (max-width: 767px) {
  .header__contacts-phone {
    font-size: 1em;
  }
}
.header__actions {
  grid-column-start: 11;
  grid-column-end: 13;
  display: grid;
  grid-gap: 12px;
  justify-self: flex-end;
  color: #343A0B;
}
@media (max-width: 1199px) {
  .header__actions {
    grid-column-start: 8;
    grid-column-end: 13;
  }
}
@media (max-width: 767px) {
  .header__actions {
    display: none;
  }
}
.header__actions-callback {
  text-decoration: underline !important;
}
.header__actions-socials {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 10px;
}
@media (max-width: 1199px) {
  .header__actions-socials {
    justify-self: flex-end;
  }
}
.header__actions-socials a:hover img {
  filter: brightness(0.9);
  transition: 0.2s;
}

footer {
  padding: 10px 0;
  background-color: #ffffff;
}

.footer__advantages {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__form {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__map {
  position: relative;
  max-height: 520px;
}
@media (max-width: 767px) {
  .footer__map {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    display: grid;
    grid-gap: 15px;
  }
}
.footer__map-address {
  display: flex;
  justify-content: flex-end;
}
.footer__map-address .address {
  position: absolute;
  height: 60%;
  margin: 6% 0;
  top: 0;
  z-index: 10;
}
@media (max-width: 767px) {
  .footer__map-address .address {
    position: relative;
    height: 100%;
    margin: 0;
  }
}
.footer__hours {
  font-size: 1.4em;
  color: #525923;
  text-align: center;
  padding: 45px 10px;
}
.footer__info {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding: 15px 10px 45px 10px;
}
@media (max-width: 767px) {
  .footer__info .header__logo {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.footer__info .header__logo img {
  height: 60px;
}
@media (max-width: 767px) {
  .footer__info .header__contacts {
    grid-column-start: 7;
    grid-column-end: 13;
  }
}
.footer__description {
  text-align: justify;
}
.footer__copyrights {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
@media (max-width: 767px) {
  .footer__copyrights {
    display: grid;
    grid-gap: 10px;
  }
}
.footer__copyrights a {
  color: #525923;
}

.ymaps-2-1-78-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-78-copyright__wrap {
  display: none;
}

.ymaps-2-1-78-controls__control {
  display: none;
}

.address {
  display: grid;
  align-self: center;
  grid-gap: 15px;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 4px solid #455175;
  box-sizing: border-box;
  max-width: 350px;
}
@media (max-width: 767px) {
  .address {
    max-width: 100%;
  }
}
.address__phone {
  font-size: 2em;
  font-weight: 600;
}
@media (max-width: 767px) {
  .address__phone {
    text-align: center;
  }
}
.address__info {
  display: grid;
}
.address__info-title {
  font-size: 1.4em;
}
@media (max-width: 767px) {
  .address .button {
    max-width: 100%;
    margin: 0;
  }
}

input.button {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
  border-radius: 12px;
  background-color: #E92A20;
  color: #ffffff;
  height: 42px;
  max-width: 350px;
  margin: 0 auto;
  transition: 0.2s;
}
input.button:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
  border-radius: 12px;
  background-color: #E92A20;
  color: #ffffff;
  height: 42px;
  max-width: 350px;
  margin: 0 auto;
  transition: 0.2s;
}
.button:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.button__empty {
  color: #E92A20;
  background-color: #ffffff;
  border: 2px solid #E92A20;
}
.button__empty:hover {
  color: #E92A20;
}

.form {
  position: relative;
  display: grid;
  grid-gap: 25px;
  padding: 25px;
  border-radius: 15px;
  background-color: #455175;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.form.popup {
  width: 100%;
}
.form.popup form {
  grid-template-columns: 1fr;
}
.form.popup form input[type=text] {
  min-height: 40px;
}
.form__title {
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 767px) {
  .form__title {
    font-size: 1.2em;
  }
}
.form__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 20px;
}
@media (max-width: 767px) {
  .form__inputs {
    grid-template-columns: 1fr;
  }
}
.form__inputs.hide {
  display: none;
}
.form__inputs .button {
  margin: 0;
  max-width: unset;
}
.form__inputs-item {
  text-align: center;
}
.form__inputs-item input[type=text] {
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .form__inputs-item input[type=text] {
    min-height: 40px;
  }
}
.form__inputs-item__title {
  color: #ffffff;
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .form__inputs-item__title {
    font-size: 1em;
  }
}
.form__inputs-item.agreenment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .form__inputs-item.agreenment {
    font-size: 0.7em;
  }
}
.form__inputs-item.agreenment input {
  margin-right: 10px;
}
.form__inputs-item.agreenment a {
  color: #ffffff;
  text-decoration: underline !important;
}
.form .success {
  opacity: 0;
  display: grid;
  grid-gap: 10px;
  color: #ffffff;
  font-weight: 600;
  height: 0;
  text-align: center;
  justify-content: center;
}
.form .success img {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
}
.form .success.show {
  opacity: 1;
  height: 100%;
  transition: 0.2s;
}

.round {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.round label {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 20px;
}
.round label:after {
  border: 2px solid #455175;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 12px;
}
.round input[type=checkbox] {
  visibility: hidden;
}
.round input[type=checkbox]:checked + label {
  background-color: #ffffff;
  border-color: #ffffff;
}
.round input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.advantages {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1199px) {
  .advantages {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages__item {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 125px 1fr;
  padding: 35px 25px;
  border: 4px solid #455175;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
@media (max-width: 1199px) {
  .advantages__item {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .advantages__item {
    position: relative;
    grid-template-columns: 1fr;
    z-index: 1;
    overflow: hidden;
  }
}
.advantages__item-title {
  font-size: 1.2em;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .advantages__item-title {
    font-size: 1.5em;
  }
}
@media (max-width: 1199px) {
  .advantages__item-description {
    font-size: 1.2em;
  }
}
.advantages__item-icon {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .advantages__item-icon {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.15;
    left: -20%;
    top: -25%;
    z-index: -1;
  }
}
.advantages__item-icon.full {
  grid-row-start: 1;
  grid-row-end: 3;
}
.advantages__item-icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ways {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1199px) {
  .ways {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .ways {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
.ways__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #455175;
  color: #ffffff;
  max-height: 170px;
}
.ways__item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 100%;
  left: 0px;
  top: 0;
  background-image: url(../images/elements/way-block.png);
  background-position: center;
  background-size: cover;
}
.ways__item span {
  width: 100%;
  height: 100%;
  padding: 65px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
}
@media (max-width: 767px) {
  .ways__item span {
    padding: 45px 15px;
  }
}

.reason {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 60px 1fr;
}
@media (max-width: 1300px) {
  .reason {
    grid-template-rows: 80px 1fr;
  }
}
@media (max-width: 1199px) {
  .reason {
    grid-gap: 10px 25px;
  }
}
@media (max-width: 767px) {
  .reason {
    position: relative;
  }
}
.reason__number {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 285px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .reason__number {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
  }
}
.reason__number-1 {
  padding-left: 32px;
  background: -webkit-linear-gradient(305deg, #A5AC73 0%, #455175 87.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
@media (max-width: 1199px) {
  .reason__number-1 {
    padding-left: 0;
  }
}
.reason__number-2 {
  background: -webkit-linear-gradient(305deg, #455175 0%, #A5AC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
.reason__number-3 {
  background: -webkit-linear-gradient(#455175 0%, #A5AC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
.reason__number-4 {
  background: -webkit-linear-gradient(226deg, #A5AC73 0, #455175 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
.reason__number-5 {
  background: -webkit-linear-gradient(#455175 0%, #A5AC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.reason__title {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.7;
}
@media (max-width: 1199px) {
  .reason__title {
    font-size: 1.5em;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .reason__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.reason__description {
  grid-row-start: 2;
  grid-row-end: 3;
}
@media (max-width: 1199px) {
  .reason__description {
    font-size: 1.2em;
    width: 80%;
  }
}
@media (max-width: 767px) {
  .reason__description {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
}

.services {
  display: grid;
  grid-gap: 65px;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1199px) {
  .services {
    grid-gap: 25px;
  }
}
@media (max-width: 767px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
.services__item {
  display: grid;
  grid-gap: 15px;
  z-index: 1;
}
.services__item-title {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #455175;
  color: #ffffff;
  font-size: 1.5em;
  height: 170px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}
.services__item-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background-image: url(../images/elements/service-block.png);
  background-position: center;
  background-size: cover;
}
.services__item-title span {
  display: flex;
  padding: 25px;
  padding-bottom: 55px;
  text-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .services__item-title span {
    padding: 15px;
    padding-bottom: 35px;
  }
}
.services__item-price {
  font-size: 1.5em;
  font-weight: 600;
}
@media (max-width: 767px) {
  .services__item-price {
    text-align: center;
    font-size: 2em;
  }
}
.services__item-description {
  min-height: 90px;
}
@media (max-width: 1199px) {
  .services__item-description {
    height: 150px;
  }
}
@media (max-width: 767px) {
  .services__item-description {
    height: auto;
  }
}
.services__item .button {
  max-width: 100%;
  margin: 0;
}

.warranty {
  position: relative;
  display: grid;
  padding: 25px 20px;
  grid-gap: 30px;
  border-radius: 12px;
  border: 4px solid #455175;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
}
@media (max-width: 1199px) {
  .warranty {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .warranty {
    border: none;
    padding: 0;
    background-color: transparent;
  }
}
.warranty__item {
  display: grid;
  grid-template-columns: 30px 1fr 40px;
  padding: 10px 15px;
  border: 1px solid rgba(69, 81, 117, 0.3);
  border-radius: 10px;
  font-size: 1.4em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  background-color: #ffffff;
}
.warranty__item-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.warranty__item-check {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgba(69, 81, 117, 0.3);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.warranty__item-check::after {
  position: absolute;
  content: "L";
  text-shadow: -2px 2px 4px rgba(51, 51, 51, 0.3);
  font-size: 2.7em;
  font-weight: 600;
  color: #A5AC73;
  transform: rotate(225deg) rotateX(180deg);
  top: -75%;
  left: 40%;
}

.accordion {
  font-size: 1.2em;
  color: #455175;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.accordion-button {
  font-size: 0.4em;
  background-color: rgba(82, 89, 35, 0.1);
  outline: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: #455175;
  color: #ffffff;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(100);
}
.accordion-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.accordion-body {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333333;
}

#burger {
  position: fixed;
  display: grid;
  grid-gap: 25px;
  align-self: flex-start;
  justify-self: flex-start;
  align-content: flex-start;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  z-index: 1000;
  background-color: #ffffff;
  padding: 15px 15px 60px 15px;
  transition: 0.2s;
}
#burger.show {
  left: 0;
  transition: 0.2s;
}

.burger__close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.burger__logo img {
  height: 60px;
}
.burger__menu {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1fr);
  border-bottom: 1px solid #525923;
  padding-bottom: 25px;
}
.burger__menu-item {
  font-size: 1.2em;
  font-weight: 600;
}
.burger__contacts {
  display: grid;
  grid-gap: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #525923;
  padding-bottom: 25px;
}
.burger__contacts-phone, .burger__contacts-email {
  font-weight: 600;
}
.burger__actions {
  display: grid;
  grid-gap: 10px;
}

.modal-content {
  border-radius: 15px;
  background: none;
}
.modal button {
  position: absolute;
  right: 10px;
  top: 15px;
  filter: brightness(10000);
  background: url(../images/icons/close.svg) center/1em auto no-repeat;
  z-index: 100;
}

#reviews {
  padding-top: 100px;
  padding-bottom: 60px;
}
@media (max-width: 1199px) {
  #reviews {
    padding-top: 140px;
    margin-top: -140px;
    padding-bottom: 140px;
  }
}
@media (max-width: 767px) {
  #reviews {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 70px;
  }
}
#reviews-block {
  position: relative;
}

.reviews__item {
  display: grid;
  grid-gap: 20px;
  padding: 25px 15px;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reviews__item-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 1300px) {
  .reviews__item-image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1199px) {
  .reviews__item-image {
    width: 150px;
    height: 150px;
  }
}
.reviews__item-image img {
  position: absolute;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}
.reviews__item-title {
  font-size: 1.2em;
  font-weight: 600;
}
.reviews__item-description {
  text-align: justify;
}
.reviews__nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100vw;
  top: calc( 50% - 30px );
}
@media (max-width: 1199px) {
  .reviews__nav {
    display: none;
  }
}
.reviews__nav .prev,
.reviews__nav .next {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 15px;
  transition: 0.2s;
  border-radius: 50%;
}
.reviews__nav .prev:hover,
.reviews__nav .next:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.reviews__nav .prev img,
.reviews__nav .next img {
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  margin: auto;
}
.reviews__nav .prev {
  left: 25px;
}
.reviews__nav .next {
  right: 25px;
}

#first_screen {
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 745px;
}
@media (max-width: 1199px) {
  #first_screen {
    height: unset;
  }
}

.first_screen {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.5fr 1fr;
}
@media (max-width: 767px) {
  .first_screen {
    grid-template-columns: 1fr;
  }
}
.first_screen__texts {
  display: grid;
  grid-gap: 20px;
  padding: 180px 0;
  z-index: 2;
}
@media (max-width: 1350px) {
  .first_screen__texts {
    padding: 130px 0;
  }
}
@media (max-width: 1199px) {
  .first_screen__texts {
    padding: 60px 0;
  }
}
.first_screen__texts h1 {
  font-size: 3em;
  color: #525923;
  font-weight: 700;
}
@media (max-width: 767px) {
  .first_screen__texts h1 {
    font-size: 2.5em;
    text-align: center;
  }
}
.first_screen__texts-title {
  padding-top: 25px;
  font-size: 2.3em;
  font-weight: 600;
  width: 90%;
}
@media (max-width: 767px) {
  .first_screen__texts-title {
    font-size: 2em;
    width: 100%;
    text-align: center;
  }
}
.first_screen__texts-description {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .first_screen__texts-description {
    text-align: justify;
  }
}
.first_screen__person {
  position: relative;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .first_screen__person {
    display: none;
  }
}
.first_screen__person-image {
  position: relative;
  display: flex;
  height: 80%;
  left: -80px;
  top: 25px;
  z-index: 1;
}
.first_screen__person-image__honeycomb {
  position: absolute;
  width: 900px;
  height: 700px;
  right: -45%;
  top: -7%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_4;
          animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_4;
}
@media (max-width: 1199px) {
  .first_screen__person-image__honeycomb {
    right: -110%;
  }
}
@-webkit-keyframes bounce_honeycomb_4 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
@keyframes bounce_honeycomb_4 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
.first_screen__person-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.first_screen__person-review {
  position: absolute;
  right: 7%;
  bottom: 7%;
  width: 75%;
  display: grid;
  grid-gap: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
@media (max-width: 1199px) {
  .first_screen__person-review {
    width: 90%;
  }
}
.first_screen__person-review__title {
  font-weight: 600;
  font-size: 1.2em;
}
.first_screen__person-review__link {
  text-decoration: underline !important;
}
.first_screen__person-review__link:hover {
  color: #0E1A27;
}

.form_screen {
  margin-top: -90px;
}
@media (max-width: 1199px) {
  .form_screen {
    margin-top: -15px;
  }
}

#second_screen {
  position: relative;
  padding: 60px 0;
  z-index: 1;
}
#second_screen::before {
  content: "";
  position: absolute;
  background-image: url(../images/elements/abstract.svg);
  background-repeat: no-repeat;
  width: 2107px;
  height: 882px;
  top: -95px;
  right: -45%;
  z-index: -1;
}

.third_screen {
  padding-top: 100px;
  padding-bottom: 80px;
  display: grid;
  grid-gap: 80px 150px;
  grid-template-columns: 1fr 2.5fr;
}
@media (max-width: 1199px) {
  .third_screen {
    padding-top: 140px;
    margin-top: -140px;
  }
}
@media (max-width: 767px) {
  .third_screen {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 30px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
.third_screen h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 767px) {
  .third_screen h2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.third_screen__person {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}
.third_screen__person-image {
  position: relative;
  z-index: 1;
}
.third_screen__person-image__honeycomb {
  top: -9%;
  right: -80px;
  width: 430px;
  height: 316px;
  position: absolute;
  content: "";
  z-index: -1;
  -webkit-animation: 3s ease-in-out 0s infinite alternate bounce_honeycomb_3;
          animation: 3s ease-in-out 0s infinite alternate bounce_honeycomb_3;
}
.third_screen__person-image__honeycomb img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@-webkit-keyframes bounce_honeycomb_3 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes bounce_honeycomb_3 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
.third_screen__person-image::after {
  content: "";
  position: absolute;
  background-image: url(../images/elements/photo.png);
  background-repeat: no-repeat;
  left: -65px;
  bottom: -90px;
  width: 425px;
  height: 257px;
  z-index: 1;
}
.third_screen__person-title {
  text-align: center;
  z-index: 10;
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .third_screen__person-title {
    font-size: 1.5em;
  }
}
.third_screen__person-title a {
  color: #0E1A27;
  text-decoration: underline !important;
}
@media (max-width: 767px) {
  .third_screen__person-title a {
    font-weight: 600;
  }
}
.third_screen__info {
  display: grid;
  grid-gap: 40px;
}
@media (max-width: 767px) {
  .third_screen__info {
    grid-gap: 40px;
  }
}
.third_screen__info .description {
  font-size: 1.2em;
  z-index: 1;
}
@media (max-width: 767px) {
  .third_screen__info .description {
    text-align: justify;
  }
}
.third_screen__info-form {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  border-radius: 12px;
  border: 4px solid #455175;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1199px) {
  .third_screen__info-form {
    grid-template-columns: 1fr;
  }
}
.third_screen__info-form__left {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #455175;
  justify-content: space-around;
  align-items: center;
}
.third_screen__info-form__left .button {
  font-size: 1.2em;
}
.third_screen__info-form__left div {
  font-size: 1.2em;
  color: #ffffff;
}
.third_screen__info-form__right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  font-size: 0.98em;
}
.third_screen__info-form__right .button {
  font-size: 1.2em;
  width: 100%;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 0;
}

#fourth_screen {
  position: relative;
  padding: 60px 0 150px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
@media (max-width: 767px) {
  #fourth_screen {
    padding: 40px 0;
  }
}
#fourth_screen::before {
  content: "";
  position: absolute;
  width: 2496px;
  height: 1044px;
  transform: rotate(147deg);
  background-image: url(../images/elements/abstract.svg);
  background-position: center;
  background-size: cover;
  right: -31%;
  bottom: -53%;
}

.fourth_screen {
  display: grid;
  grid-gap: 45px;
}
.fourth_screen h2 {
  color: #333333;
  text-align: center;
}
.fourth_screen h2 br {
  display: none;
}
@media (max-width: 1199px) {
  .fourth_screen h2 br {
    display: block;
  }
}

#fifth_screen {
  position: relative;
  padding: 60px 0;
  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.fifth_screen {
  display: grid;
  grid-gap: 35px 10px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1199px) {
  .fifth_screen {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fifth_screen__title {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 2.5em;
  font-weight: 600;
  padding-right: 60px;
}
@media (max-width: 767px) {
  .fifth_screen__title {
    font-size: 1.5em;
    padding-right: 0;
    text-align: center;
  }
}
.fifth_screen__title h2 {
  color: #333333;
  font-size: 2em;
}

#sixth_screen {
  position: relative;
  z-index: 1;
}
#sixth_screen::before {
  content: "";
  position: absolute;
  background-image: url(../images/elements/abstract.svg);
  background-repeat: no-repeat;
  width: 2107px;
  height: 882px;
  top: -95px;
  right: -45%;
  z-index: -1;
}
#sixth_screen::after {
  content: "";
  position: absolute;
  background-image: url(../images/elements/abstract.svg);
  background-repeat: no-repeat;
  width: 2433px;
  height: 1259px;
  right: -8%;
  bottom: -12%;
  transform: rotate(169deg);
  z-index: -1;
}

.sixth_screen__advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .sixth_screen__advantage {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.sixth_screen__advantage .advantages__item {
  padding: 20px 35px;
  font-size: 1.3em;
  font-weight: 500;
}
.sixth_screen__owner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}
@media (max-width: 767px) {
  .sixth_screen__owner {
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.sixth_screen__owner-person {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  text-align: center;
}
.sixth_screen__owner-person__image {
  position: relative;
  width: 390px;
  height: 445px;
}
@media (max-width: 767px) {
  .sixth_screen__owner-person__image {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.sixth_screen__owner-person__image::after {
  content: "";
  position: absolute;
  background-image: url(../images/elements/photo.png);
  background-repeat: no-repeat;
  left: -65px;
  bottom: -90px;
  width: 425px;
  height: 257px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .sixth_screen__owner-person__image::after {
    display: none;
  }
}
.sixth_screen__owner-person__image .honeycomb {
  right: -35px;
}
@media (max-width: 1199px) {
  .sixth_screen__owner-person__image .honeycomb {
    top: -6% !important;
  }
}
.sixth_screen__owner-person__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767px) {
  .sixth_screen__owner-person__image img {
    position: relative;
  }
}
.sixth_screen__owner-person__name {
  font-size: 1.2em;
  color: #343A0B;
  font-weight: 600;
  z-index: 1;
}
.sixth_screen__owner-person__title {
  font-size: 1.2em;
  z-index: 1;
}
.sixth_screen__owner-info {
  display: grid;
  grid-gap: 30px;
}
.sixth_screen__owner-info .subtitle {
  font-size: 1.3em;
  color: #343A0B;
  text-align: center;
}
.sixth_screen__owner-info h3 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
}
.sixth_screen__owner-info h3,
.sixth_screen__owner-info .description, .sixth_screen__owner-info__test {
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .sixth_screen__owner-info h3,
.sixth_screen__owner-info .description, .sixth_screen__owner-info__test {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sixth_screen__owner-info .description {
    text-align: justify;
  }
}
.sixth_screen__owner-info__test {
  display: grid;
  grid-gap: 15px;
  padding: 30px;
  border-radius: 12px;
  border: 4px solid #455175;
}
.sixth_screen__owner-info__test-title {
  text-align: center;
}
.sixth_screen__owner-info__test .button {
  width: 260px;
}
.sixth_screen__promo {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  z-index: 1;
}
@media (max-width: 767px) {
  .sixth_screen__promo {
    padding-bottom: 70px;
  }
}
.sixth_screen__promo::before {
  content: "";
  position: absolute;
  width: 732px;
  height: 732px;
  left: -25%;
  top: -5%;
  transform: rotate(-3deg);
  background-image: url(../images/attention.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.sixth_screen__promo h2,
.sixth_screen__promo h3,
.sixth_screen__promo .title {
  text-align: right;
}
@media (max-width: 767px) {
  .sixth_screen__promo h2,
.sixth_screen__promo h3,
.sixth_screen__promo .title {
    text-align: center;
  }
}
.sixth_screen__promo h2 {
  font-size: 5em;
}
@media (max-width: 1300px) {
  .sixth_screen__promo h2 {
    font-size: 4em;
  }
}
@media (max-width: 1199px) {
  .sixth_screen__promo h2 {
    font-size: 3.5em;
  }
}
@media (max-width: 767px) {
  .sixth_screen__promo h2 {
    font-size: 2em;
  }
}
.sixth_screen__promo h3 {
  font-size: 3em;
}
@media (max-width: 767px) {
  .sixth_screen__promo h3 {
    font-size: 1.8em;
    font-weight: 600;
  }
}
.sixth_screen__promo .title {
  font-size: 1.5em;
}
.sixth_screen__promo-action {
  padding-top: 35px;
  display: grid;
  grid-gap: 5px;
  align-self: flex-end;
}
@media (max-width: 767px) {
  .sixth_screen__promo-action {
    align-self: center;
  }
}
.sixth_screen__promo-action .button {
  font-size: 1.5em;
  padding: 30px 29px;
}
.sixth_screen__promo-action .description {
  text-align: center;
  font-weight: 600;
}
.sixth_screen__services {
  display: grid;
  grid-gap: 45px;
  padding-top: 100px;
  padding-bottom: 70px;
}
@media (max-width: 1199px) {
  .sixth_screen__services {
    padding-top: 140px;
    margin-top: -140px;
  }
}
@media (max-width: 767px) {
  .sixth_screen__services {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 30px;
  }
}
.sixth_screen__services h2 {
  color: #333333;
  text-align: center;
}
.sixth_screen__installment {
  padding-top: 60px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1199px) {
  .sixth_screen__installment {
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 767px) {
  .sixth_screen__installment {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
}
.sixth_screen__installment h2 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 767px) {
  .sixth_screen__installment h2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.sixth_screen__installment-info {
  display: grid;
  grid-gap: 30px;
}
.sixth_screen__installment-info__list {
  display: grid;
  grid-gap: 10px;
  font-size: 1.8em;
}
@media (max-width: 1199px) {
  .sixth_screen__installment-info__list {
    font-size: 1.5em;
  }
}
.sixth_screen__installment-info__list-item {
  position: relative;
  z-index: 1;
  padding-left: 25px;
  align-self: center;
}
@media (max-width: 767px) {
  .sixth_screen__installment-info__list-item {
    padding-left: 0;
    text-align: center;
    font-size: 1.3em;
  }
}
.sixth_screen__installment-info__list-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: calc( 50% - 5px );
  left: 0;
  background-color: #333333;
}
@media (max-width: 767px) {
  .sixth_screen__installment-info__list-item::before {
    content: none;
  }
}
.sixth_screen__installment-info__list-item .large {
  font-size: 1.2em;
  font-weight: 600;
}
.sixth_screen__installment-info__description {
  padding-top: 45px;
  font-size: 1.15em;
}
@media (max-width: 767px) {
  .sixth_screen__installment-info__description {
    padding-top: 15px;
    text-align: justify;
  }
}
.sixth_screen__installment-info__action {
  display: grid;
  grid-gap: 10px;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .sixth_screen__installment-info__action {
    justify-content: center;
  }
}
.sixth_screen__installment-info__action .button {
  font-size: 1.5em;
  padding: 30px 29px;
}
.sixth_screen__installment-info__action .description {
  text-align: center;
  font-weight: 600;
}
.sixth_screen__installment-percent {
  position: relative;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right;
  z-index: -1;
}
@media (max-width: 767px) {
  .sixth_screen__installment-percent {
    text-align: center;
    justify-content: center;
    align-self: center;
  }
}
.sixth_screen__installment-percent::before {
  content: "";
  position: absolute;
  width: 746px;
  height: 444px;
  right: -25%;
  bottom: 0;
  background-image: url(../images/elements/zero_percent.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.sixth_screen__installment-percent h3 {
  font-size: 5em;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .sixth_screen__installment-percent h3 {
    font-size: 4em;
  }
}
@media (max-width: 767px) {
  .sixth_screen__installment-percent h3 {
    font-size: 3.5em;
  }
}
.sixth_screen__installment-percent h4 {
  font-size: 3.5em;
  font-weight: 600;
}
.sixth_screen__installment-percent h4 .large {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .sixth_screen__installment-percent h4 {
    font-size: 3em;
  }
}
.sixth_screen__installment-percent__description {
  width: 80%;
  font-size: 1.5em;
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 1199px) {
  .sixth_screen__installment-percent__description {
    font-size: 1.2em;
    width: 100%;
  }
}

#eight_screen {
  position: relative;
  padding: 80px 0;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
}
@media (max-width: 767px) {
  #eight_screen {
    padding: 40px 0;
  }
}

.eight_screen {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 3fr 1fr;
}
@media (max-width: 1199px) {
  .eight_screen {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 991px) {
  .eight_screen {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 767px) {
  .eight_screen {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
.eight_screen__info {
  display: grid;
  grid-gap: 5px;
  align-self: center;
  z-index: 2;
}
.eight_screen__info-title {
  font-size: 2.5em;
  color: #525923;
}
.eight_screen__info-description {
  font-size: 1.4em;
}
@media (max-width: 767px) {
  .eight_screen__info-description {
    text-align: justify;
  }
}
.eight_screen__image {
  position: relative;
  width: 442px;
  height: 392px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .eight_screen__image {
    width: unset;
  }
}
@media (max-width: 767px) {
  .eight_screen__image {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    order: -1;
  }
}
.eight_screen__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991px) {
  .eight_screen__image img {
    width: 150%;
  }
}
@media (max-width: 767px) {
  .eight_screen__image img {
    position: relative;
    width: 100%;
  }
}
.eight_screen__image-honeycomb {
  position: absolute;
  width: 688px;
  height: 640px;
  right: -40%;
  top: -40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(239deg);
  -webkit-animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_2;
          animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_2;
}
@media (max-width: 1199px) {
  .eight_screen__image-honeycomb {
    width: 100%;
    right: 0;
  }
}
@media (max-width: 991px) {
  .eight_screen__image-honeycomb {
    right: -40%;
    margin-top: 60%;
  }
}
@media (max-width: 767px) {
  .eight_screen__image-honeycomb {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    right: 0;
    top: -35% !important;
    margin-top: 0;
  }
}
@-webkit-keyframes bounce_honeycomb_2 {
  from {
    transform: translate(0, 3%) rotate(239deg);
  }
  to {
    transform: translate(0, -2%) rotate(239deg);
  }
}
@keyframes bounce_honeycomb_2 {
  from {
    transform: translate(0, 3%) rotate(239deg);
  }
  to {
    transform: translate(0, -2%) rotate(239deg);
  }
}
.eight_screen__image::before {
  content: "";
  position: absolute;
  width: 732px;
  height: 732px;
  right: -55%;
  top: 100%;
  transform: rotate(3deg);
  background-image: url(../images/attention2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  transition: 0.2s;
}
@media (max-width: 1199px) {
  .eight_screen__image::before {
    content: none;
  }
}

#ninth_screen {
  position: relative;
  padding: 60px 0;
  z-index: 1;
}
@media (max-width: 767px) {
  #ninth_screen {
    padding: 30px 0;
  }
}
#ninth_screen::before {
  content: "";
  position: absolute;
  background-image: url(../images/elements/abstract.svg);
  background-repeat: no-repeat;
  width: 2107px;
  height: 882px;
  top: -95px;
  right: -45%;
  z-index: -1;
}
#ninth_screen::after {
  content: "";
  position: absolute;
  background-image: url(../images/elements/abstract.svg);
  background-repeat: no-repeat;
  width: 2433px;
  height: 1259px;
  right: -8%;
  bottom: -12%;
  transform: rotate(169deg);
  z-index: -1;
}

.ninth_screen__attention {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  z-index: 1;
}
@media (max-width: 767px) {
  .ninth_screen__attention {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.ninth_screen__attention::before {
  content: none;
  position: absolute;
  width: 732px;
  height: 732px;
  right: -25%;
  top: 0%;
  transform: rotate(3deg);
  background-image: url(../images/attention2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  transition: 0.2s;
}
@media (max-width: 1199px) {
  .ninth_screen__attention::before {
    content: "";
  }
}
@media (max-width: 767px) {
  .ninth_screen__attention::before {
    content: none;
  }
}
@-webkit-keyframes bounce_attention {
  from {
    transform: translate(0%, 0%) scale(1) rotate(3deg);
  }
  to {
    transform: translate(10%, 0%) scale(1) rotate(7deg);
  }
}
@keyframes bounce_attention {
  from {
    transform: translate(0%, 0%) scale(1) rotate(3deg);
  }
  to {
    transform: translate(10%, 0%) scale(1) rotate(7deg);
  }
}
.ninth_screen__attention-block {
  display: grid;
  grid-gap: 15px;
  width: 55%;
}
@media (max-width: 767px) {
  .ninth_screen__attention-block {
    width: 100%;
  }
}
.ninth_screen__attention-description {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .ninth_screen__attention-description {
    text-align: justify;
  }
}
.ninth_screen__attention-title {
  font-size: 1.8em;
  color: #E92A20;
  font-weight: 600;
}
.ninth_screen__attention-info {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .ninth_screen__attention-info {
    text-align: justify;
  }
}
.ninth_screen__attention-action {
  display: grid;
  grid-gap: 10px;
  padding-top: 35px;
}
.ninth_screen__attention-action .button {
  font-size: 1.5em;
  padding: 30px 29px;
}
.ninth_screen__attention-action .description {
  text-align: center;
  font-weight: 600;
}
.ninth_screen__warranty {
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  display: grid;
  grid-gap: 45px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .ninth_screen__warranty {
    padding-top: 140px;
    margin-top: -140px;
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .ninth_screen__warranty {
    padding-top: 70px;
    margin-top: -70px;
    margin-bottom: 40px;
  }
}
.ninth_screen__warranty::before {
  position: absolute;
  content: "";
  background-image: url(../images/elements/honeycomb3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 619px;
  height: 561px;
  left: -15%;
  top: 15%;
  transform: rotate(15deg);
  z-index: -1;
  -webkit-animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb;
          animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb;
}
@media (max-width: 1199px) {
  .ninth_screen__warranty::before {
    left: -38%;
  }
}
@media (max-width: 767px) {
  .ninth_screen__warranty::before {
    left: -110%;
  }
}
.ninth_screen__warranty::after {
  position: absolute;
  content: "";
  background-image: url(../images/elements/honeycomb3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 675px;
  height: 605px;
  left: 60%;
  top: 50%;
  transform: rotate(360deg);
  z-index: -1;
  -webkit-animation: 7s ease-in-out 0s infinite alternate bounce_honeycomb_1;
          animation: 7s ease-in-out 0s infinite alternate bounce_honeycomb_1;
}
.ninth_screen__warranty h2 {
  text-align: center;
}
@-webkit-keyframes bounce_honeycomb {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: scale(1.2) rotate(15deg);
  }
}
@keyframes bounce_honeycomb {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: scale(1.2) rotate(15deg);
  }
}
@-webkit-keyframes bounce_honeycomb_1 {
  from {
    transform: translate(0, 0) rotate(360deg);
  }
  to {
    transform: translate(0, -7%) scale(1.1) rotate(360deg);
  }
}
@keyframes bounce_honeycomb_1 {
  from {
    transform: translate(0, 0) rotate(360deg);
  }
  to {
    transform: translate(0, -7%) scale(1.1) rotate(360deg);
  }
}

#tenth_screen {
  position: relative;
  background-image: url(../images/bg.png);
  background-position: top center;
  background-size: cover;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.tenth_screen {
  display: grid;
  grid-gap: 45px;
  padding-top: 100px;
  padding-bottom: 60px;
}
@media (max-width: 1199px) {
  .tenth_screen {
    padding-top: 140px;
    margin-top: -140px;
  }
}
@media (max-width: 767px) {
  .tenth_screen {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 30px;
  }
}
.tenth_screen h2 {
  text-align: center;
}

html, body {
  font-family: "Gilroy-Medium" !important;
  font-style: normal;
  font-size: 14px;
  height: auto;
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
  min-height: 100vh;
  color: #333333;
}
html.hidden, body.hidden {
  overflow-y: hidden;
}
html .modal-open, body .modal-open {
  padding-right: 0 !important;
}

input {
  -webkit-appearance: none;
}
input[type=checkbox] {
  -webkit-appearance: checkbox;
}

@media (max-width: 424px) {
  .container {
    margin: 0;
  }
}
.container.inner {
  min-height: calc( 100vh - 132px );
  margin: 15px auto;
}
.container.inner .title {
  font-size: 1.2em;
}
.container.noauth {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (min-width: 992px) {
  .container-fullwidth {
    min-width: 100vw;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

a {
  text-decoration: none !important;
  color: #343A0B;
}
a:hover {
  color: #525923;
}

input,
textarea {
  outline: none !important;
}
input[type=text], input[type=number], input[type=password], input[type=email],
textarea[type=text],
textarea[type=number],
textarea[type=password],
textarea[type=email] {
  border-radius: 15px;
  padding: 6px 10px;
  border: none;
}
@media (max-width: 767px) {
  input[type=text], input[type=number], input[type=password], input[type=email],
textarea[type=text],
textarea[type=number],
textarea[type=password],
textarea[type=email] {
    width: 100%;
  }
}
input[type=text]:hover, input[type=text]:active, input[type=text]:focus, input[type=number]:hover, input[type=number]:active, input[type=number]:focus, input[type=password]:hover, input[type=password]:active, input[type=password]:focus, input[type=email]:hover, input[type=email]:active, input[type=email]:focus,
textarea[type=text]:hover,
textarea[type=text]:active,
textarea[type=text]:focus,
textarea[type=number]:hover,
textarea[type=number]:active,
textarea[type=number]:focus,
textarea[type=password]:hover,
textarea[type=password]:active,
textarea[type=password]:focus,
textarea[type=email]:hover,
textarea[type=email]:active,
textarea[type=email]:focus {
  outline: none;
}

textarea {
  border-radius: 15px;
  padding: 6px 10px;
}
@media (max-width: 767px) {
  textarea {
    width: 100%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.red {
  color: #E92A20;
}
.red .bold {
  font-weight: 600;
}

@media (max-width: 1199px) {
  br {
    display: none;
  }
}

main {
  min-height: 100vh;
}
main.inner {
  min-height: calc( 100vh - 132px );
}
main.inner .title {
  font-size: 1.2em;
}
main.sticky {
  margin-top: 94px;
}

h2 {
  font-size: 3em;
  color: #525923;
  font-weight: 600;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.6em;
    text-align: center;
  }
}

.is-invalid {
  border: 1px solid #E92A20 !important;
}
