.accordion{
    font-size: 1.2em;
    color: $blue_dark;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: $shadow_black;
    &-button{
        font-size: 0.4em;
        background-color: rgba($green, 0.1);
        outline: none!important;
        &:not(.collapsed){
            background-color: $blue_dark;
            color: $white;

            &::after{
                filter: brightness(100);
            }
        }
        &:focus{
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    &-body{
        padding-top: 30px;
        padding-bottom: 30px;
        color: $black_text;
    }
}