.address{
    display: grid;
    align-self: center;
    grid-gap: 15px;
    padding: 25px;
    background-color: $white;   
    box-shadow: $shadow_black;
    border-radius: 15px;
    border: 4px solid $blue_dark;
    box-sizing: border-box;
    max-width: 350px;
    @media( max-width: 767px ){
        max-width: 100%;
    }

    &__phone{
        font-size: 2em;
        font-weight: 600;
        @media( max-width: 767px ){
            text-align: center;
        }
    }

    &__info{
        display: grid;

        &-title{
            font-size: 1.4em;
        }
    }

    .button{
        @media( max-width: 767px ){
            max-width: 100%;
            margin: 0;
        }
    }
}