.advantages{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media( max-width: 1199px ){
        grid-template-columns: repeat(1, 1fr);
    }

    &__item{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 125px 1fr;
        padding: 35px 25px;
        border: 4px solid $blue_dark;
        border-radius: 30px;
        align-items: center;
        box-shadow: $shadow_black;
        background-color: $white;

        @media( max-width: 1199px ){
            padding: 15px;
        }

        @media( max-width: 767px ){
            position: relative;
            grid-template-columns: 1fr;
            z-index: 1;
            overflow: hidden;
        }

        &-title{
            font-size: 1.2em;
            font-weight: 600;
            @media( max-width: 1199px ){
                font-size: 1.5em;
            }
        }

        &-description{
            @media( max-width: 1199px ){
                font-size: 1.2em;
            }
        }

        &-icon{
            position: relative;
            display: flex;
            width: 100px;
            height: 100px;
            margin: 0 auto;

            @media( max-width: 767px ){
                position: absolute;
                width: 200px;
                height: 200px;
                opacity: 0.15;
                left: -20%;
                top: -25%;
                z-index: -1;
            }

            &.full{
                grid-row-start: 1;
                grid-row-end: 3;
            }

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
