#burger{
    position: fixed;
    display: grid;
    grid-gap: 25px;
    align-self: flex-start;
    justify-self: flex-start;
    align-content: flex-start;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100vw;
    z-index: 1000;
    background-color: $white;
    padding: 15px 15px 60px 15px;
    transition: .2s;

    &.show{
        left: 0;
        transition: .2s;
    }
}

.burger{
    &__close{
        position: absolute;
        right: 15px;
        top: 15px;
    }

    &__logo{
        img{
            height: 60px;
        }
    }
    
    &__menu{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1fr);

        border-bottom: 1px solid $green;
        padding-bottom: 25px;

        &-item{
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    &__contacts{
        display: grid;
        grid-gap: 10px;
        font-size: 1.2em;

        border-bottom: 1px solid $green;
        padding-bottom: 25px;


        &-phone,
        &-email{
            font-weight: 600;
        }
    }

    &__actions{
        display: grid;
        grid-gap: 10px;
    }
}