input{
    &.button{
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px 15px;
        border-radius: 12px;
        background-color: $red;
        color: $white;
        height: 42px;
        max-width: 350px;
        margin: 0 auto;
        transition: .2s;

        &:hover{
            color: $white;
            box-shadow: $shadow_black;
            transition: .2s;
        }
    }
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 15px;
    border-radius: 12px;
    background-color: $red;
    color: $white;
    height: 42px;
    max-width: 350px;
    margin: 0 auto;
    transition: .2s;

    &:hover{
        color: $white;
        box-shadow: $shadow_black;
        transition: .2s;
    }

    &__empty{
        color: $red;
        background-color: $white;
        border: 2px solid $red;

        &:hover{
            color: $red;
        }
    }
}
