$white: #ffffff;
$black:  #0E1A27;
$black_text: #333333;
$red: #E92A20;
$gray: #cccccc;

$green: #525923;
$green_dark: #343A0B;
$green_light: #A5AC73;
$blue_dark: #455175;

$shadow_black: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


