#eight_screen{
    position: relative;
    padding: 80px 0;
    box-shadow: inset $shadow_black;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
    @media( max-width: 767px ){
        padding: 40px 0;
    }
}

.eight_screen{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 3fr 1fr;
    @media( max-width: 1199px ){
        grid-template-columns: 1fr 1fr;
    }
    @media( max-width: 991px ){
        grid-template-columns: 2fr 1fr;
    }
    @media( max-width: 767px ){
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    &__info{
        display: grid;
        grid-gap: 5px;
        align-self: center;
        z-index: 2;

        &-title{
            font-size: 2.5em;
            color: $green;
        }

        &-description{
            font-size: 1.4em;
            @media( max-width: 767px ){
                text-align: justify;
            }
        }
    }

    &__image{
        position: relative;
        width: 442px;
        height: 392px;
        z-index: 1;

        @media( max-width: 1199px ){
            width: unset;
        }

        @media( max-width: 767px ){
            width: 100%;
            height: max-content;
            order: -1;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
            @media( max-width: 991px ){
                width: 150%;
            }

            @media( max-width: 767px ){
                position: relative;
                width: 100%;
            }
        }

        &-honeycomb{
            position: absolute;
            width: 688px;
            height: 640px;
            right: -40%;
            top: -40%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(239deg);

            animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_2;
            @media( max-width: 1199px ){
                width: 100%;
                right: 0;
            }
            @media( max-width: 991px ){
                right: -40%;
                margin-top: 60%;
            }
            @media( max-width: 767px ){
                width: 100%;
                height: max-content;
                right: 0;
                top: -35%!important;
                margin-top: 0;
            }
        }

        @keyframes bounce_honeycomb_2 {
            from {
                transform: translate(0, 3%) rotate(239deg);
            }

            to{
                transform: translate(0, -2%) rotate(239deg);
            }
        }

        &::before{
            content: "";
            position: absolute;
            width: 732px;
            height: 732px;
            // right: -90%;
            // top: 85%;
            right: -55%;
            top: 100%;
            transform: rotate(3deg);
            background-image: url(../images/attention2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            transition: .2s;
            
            // animation: 5s ease-in-out 0s infinite alternate bounce_attention;

            @media( max-width: 1199px ){
                content: none;
            }
        }

        
    }
}