#fifth_screen{
    position: relative;
    padding: 60px 0;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.fifth_screen{
    display: grid;
    grid-gap: 35px 10px;
    grid-template-columns: repeat(3, 1fr);

    @media( max-width: 1199px ){
        grid-template-columns: repeat(1, 1fr);
    }

    &__title{
        grid-column-start: 1;
        grid-column-end: 2;

        font-size: 2.5em;
        font-weight: 600;
        padding-right: 60px;

        @media( max-width: 767px ){
            font-size: 1.5em;
            padding-right: 0;
            text-align: center;
        }

        h2{
            color: $black_text;
            font-size: 2em;
        }
    }
}