#first_screen{
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
    @media( max-width: 1199px ){
        height: unset;
    }
}

.first_screen{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.5fr 1fr;

    @media( max-width: 767px ){
        grid-template-columns: 1fr;
    }

    &__texts{
        display: grid;
        grid-gap: 20px;
        padding: 150px 0;
        z-index: 2;
        @media( max-width: 1350px ){
            padding: 130px 0;
        }
        @media( max-width: 1199px ){
            padding: 60px 0;
        }

        h1{
            font-size: 3em;
            color: $green;
            font-weight: 700;
            @media( max-width: 767px ){
                font-size: 2.5em;
                text-align: center;
            }
        }

        &-title{
            padding-top: 25px;
            font-size: 2.3em;
            font-weight: 600;
            width: 90%;
            @media( max-width: 767px ){
                font-size: 2em;
                width: 100%;
                text-align: center;
            }
        }

        &-description{
            font-size: 1.2em;
            @media( max-width: 767px ){
                text-align: justify;
            }
        }
    }

    &__person{
        @media( max-width: 767px ){
            display: none;
        }
        position: relative;
        padding: 25px 0;

        &-image{
            position: relative;
            display: flex;
            height: 80%;
            left: -80px;
            top: 25px;
            z-index: 1;

            &__honeycomb{
                position: absolute;
                width: 900px;
                height: 700px;
                right: -45%;
                top: -7%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb_4;

                @media( max-width: 1199px ){
                    right: -110%;
                }
            }

            @keyframes bounce_honeycomb_4 {
                from {
                    transform: scale(1);
                }

                to{
                    transform: scale(0.95);
                }
            }

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: contain;
            }
        }
        &-review{
            position: absolute;
            right: 7%;
            bottom: 7%;
            width: 75%;
            display: grid;
            grid-gap: 10px;
            padding: 15px;
            border-radius: 8px;
            background-color: $white;
            box-shadow: $shadow_black;
            z-index: 2;

            @media( max-width: 1199px ){
                width: 90%;
            }

            &__title{
                font-weight: 600;
                font-size: 1.2em;
            }

            &__link{
                text-decoration: underline!important;

                &:hover{
                    color: $black;
                }
            }
        }
    }
}
