footer{
    padding: 10px 0;
    background-color: $white;
}

.footer{
    &__advantages{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__form{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__map{
        position: relative;
        max-height: 520px;
        @media( max-width: 767px ){
            max-height: max-content;
            display: grid;
            grid-gap: 15px;
        }
        &-address{
            display: flex;
            justify-content: flex-end;
            .address{
                position: absolute;
                height: 60%;
                margin: 6% 0;
                top: 0;
                z-index: 10;
                @media( max-width: 767px ){
                    position: relative;
                    height: 100%;
                    margin: 0;
                }
            }
        }
    }

    &__hours{
        font-size: 1.4em;
        color: $green;
        text-align: center;
        padding: 45px 10px;
    }

    &__info{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        align-items: center;
        padding: 15px 10px 45px 10px;

        .header{
            &__logo{
                @media( max-width: 767px ){
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                img{
                    height: 60px;
                }
            }

            &__contacts{
                @media( max-width: 767px ){
                    grid-column-start: 7;
                    grid-column-end: 13;
                }
            }
        }
    }

    &__description{
        text-align: justify;
    }

    &__copyrights{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        @media( max-width: 767px ){
            display: grid;
            grid-gap: 10px;
        }
        a{
            color: $green;
        }
    }
}