.form{
    position: relative;
    display: grid;
    grid-gap: 25px;
    padding: 25px;
    border-radius: 15px;
    background-color: $blue_dark;
    width: 95%;
    margin: 0 auto;
    box-shadow: $shadow_black;
    z-index: 10;

    &.popup{
        width: 100%;
        min-height: 300px;
        form{
            grid-template-columns: 1fr;

            input{
                &[type=text]{
                    min-height: 40px;
                }
            }
        }
    }

    &__title{
        color: $white;
        font-size: 1.6em;
        font-weight: 500;
        text-align: center;
        @media( max-width: 767px ){
            font-size: 1.2em;
        }
    }

    &__inputs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px 20px;
        @media( max-width: 767px ){
            grid-template-columns: 1fr;
        }

        &.hide{
            display: none;
        }

        .button{
            margin: 0;
            max-width: unset;
        }

        &-item{
            text-align: center;
            input{
                &[type=text]{
                    height: 100%;
                    width: 100%;
                    @media( max-width: 767px ){
                        min-height: 40px;
                    }
                }
            }

            &__title{
                color: $white;
                font-size: 1.2em;
                @media( max-width: 767px ){
                    font-size: 1em;
                }
            }

            &.agreenment{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;

                @media( max-width: 1199px ){
                    font-size: 0.7em;
                }


                input{
                    margin-right: 10px;
                }

                a{
                    color: $white;
                    text-decoration: underline!important;
                }
            }
        }
    }

    &__question{
        font-size: 1.2em;
        color: $white;
        text-align: center;
        padding: 30px 0;
    }

    &__answers{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        @media( max-width: 767px ){
            grid-template-columns: 1fr;
        }

        .button{
            width: 100%;
        }
    }

    &__test{
        display: grid;
    }

    &__progress{
        position: relative;
        width: 100%;
        align-self: flex-end;
        background-color: $white;
        height: 20px;
        border-radius: 5px;
        overflow: hidden;
        margin: 45px 0 0 0;
        z-index: 1;

        span{
            position: absolute;
            color: $blue_dark;
            text-align: center;
            width: 100%;
            font-size: 1.2em;
            z-index: 1;
            align-items: center;
            justify-content: center;
            top: -2px;
        }

        @for $i from 0 through 100 {
            &.progress#{$i}{
                &::after{
                    content: "";
                    position: absolute;
                    width: $i*1%;
                    background-color: $green_light;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }
        }
    }

    .success{
        opacity: 0;
        display: grid;
        grid-gap: 10px;
        color: $white;
        font-weight: 600;
        height: 0;
        text-align: center;
        justify-content: center;
        img{
            max-height: 100px;
            max-width: 100px;
            margin: auto;
        }

        &.show{
            opacity: 1;
            height: 100%;
            transition: .2s;
        }
    }


}
