#fourth_screen{
    position: relative;
    padding: 60px 0 150px 0;
    box-shadow: $shadow_black;
    overflow: hidden;

    @media( max-width: 767px ){
        padding: 40px 0;
    }

    &::before{
        content: "";
        position: absolute;
        width: 2496px;
        height: 1044px;
        transform: rotate(147deg);
        background-image: url(../images/elements/abstract.svg);
        background-position: center;
        background-size: cover;
        right: -31%;
        bottom: -53%;
    }
}

.fourth_screen{
    display: grid;
    grid-gap: 45px;

    h2{
        color: $black_text;
        text-align: center;
        br{
            display: none;

            @media( max-width: 1199px ){
                display: block;
            }
        }
    }
}
