header{
    position: relative;
    width: 100vw;
    padding: 15px 10px;
    background-color: $white;
    box-shadow: $shadow_black;
    z-index: 1000;

    &.sticky{
        position: fixed;
    }

    @media( max-width: 767px ){
        height: 70px;
        padding: 10px 5px;
    }
}

.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    align-items: center;
    @media( max-width: 1199px ){
        grid-gap: 20px;
    }
    @media( max-width: 767px ){
        grid-gap: 10px;
    }

    &__burger{
        display: none;
        @media( max-width: 767px ){
            display: flex;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    &__logo{
        grid-column-start: 1;
        grid-column-end: 3;
        @media( max-width: 1199px ){
            grid-column-start: 1;
            grid-column-end: 2;
        }
        @media( max-width: 767px ){
            grid-column-start: 4;
            grid-column-end: 5;
        }

        a{
            img{
                height: 60px;
                @media( max-width: 767px ){
                    max-height: 50px;
                }
            }
        }
    }

    &__menu{
        grid-column-start: 3;
        grid-column-end: 8;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.2em;

        @media( max-width: 1199px ){
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;
            grid-row-end: 3;

            justify-content: space-between;
        }
        @media( max-width: 767px ){
            display: none;
        }

        &-item{
            margin: 0 15px;
            transition: .2s;

            &:hover{
                color: $green;
                transition: .2s;
            }
        }
    }

    &__contacts{
        grid-column-start: 8;
        grid-column-end: 11;

        display: grid;
        grid-gap: 6px;
        justify-self: center;
        font-size: 1.2em;
        color: $green_dark;

        @media( max-width: 1199px ){
            grid-column-start: 2;
            grid-column-end: 8;
            justify-self: flex-start;
        }

        @media( max-width: 767px ){
            grid-column-start: 5;
            grid-column-end: 13;
            grid-gap: 3px;
        }

        &-phone{
            font-size: 1.3em;
            font-weight: 600;
            color: $green_dark;
            @media( max-width: 767px ){
                font-size: 1em;
            }
        }
    }

    &__actions{
        grid-column-start: 11;
        grid-column-end: 13;

        display: grid;
        grid-gap: 12px;
        justify-self: flex-end;
        color: $green_dark;

        @media( max-width: 1199px ){
            grid-column-start: 8;
            grid-column-end: 13;
        }
        @media( max-width: 767px ){
            display: none;
        }

        &-callback{
            text-decoration: underline!important;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(3, 30px);
            grid-gap: 10px;

            @media( max-width: 1199px ){
                justify-self: flex-end;
            }
            
            a{
                &:hover{
                    img{
                        filter: brightness(0.9);
                        transition: .2s;
                    }
                }
            }
        }
    }
}