@import 'mixin';

html, body{
    font-family: 'Gilroy-Medium'!important;
    font-style: normal;
    font-size: 14px;
    height: auto;
    margin: 0;
    padding: 0;
    background: $white;
    overflow-x: hidden;
    min-height: 100vh;
    color: $black_text;

    &.hidden{
        overflow-y: hidden;
    }

    .modal-open{
        padding-right: 0!important;
    }
}

input{
    &[type=checkbox]{
        -webkit-appearance: checkbox;
    }
    -webkit-appearance: none;
}

.container{
    @media( max-width: 424px ){
        margin: 0;
    }

    &.inner{
        min-height: calc( 100vh - 132px );
        margin: 15px auto;
        .title{
            font-size: 1.2em;
        }
    }

    &.noauth{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &-fullwidth{
        @media( min-width: 992px ){
            min-width: 100vw;
        }
    }
    @media (min-width: 1200px){
        max-width: 1400px;
    }
}

a{
    text-decoration: none!important;
    color: $green_dark;

    &:hover{
        color: $green;
    }
}

input,
textarea{
    outline: none!important;
    &[type=text],
    &[type=number],
    &[type=password],
    &[type=email]{
        border-radius: 15px;
        padding: 6px 10px;

        border: none;

        @media( max-width: 767px ){
            width: 100%;
        }

        &:hover,
        &:active,
        &:focus{
            outline: none;
        }
    }
}

textarea{
    border-radius: 15px;
    padding: 6px 10px;

    @media( max-width: 767px ){
        width: 100%;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.mobile{

    @media( min-width: 768px ){
        display: none;
    }
}

.desktop{
    @media( max-width: 767px ){
        display: none;
    }
}

.red{
    color: $red;

    .bold{
        font-weight: 600;
    }
}

br{
    @media( max-width: 1199px ){
        display: none;
    }
}

main{
    min-height: 100vh;

    &.inner{
        min-height: calc( 100vh - 132px );
        .title{
            font-size: 1.2em;
        }
    }

    &.sticky{
        margin-top: 94px;
    }
}

h2{
    font-size: 3em;
    color: $green;
    font-weight: 600;

    @media( max-width: 767px ){
        font-size: 2.6em;
        text-align: center;
    }
}

.is-invalid{
    border: 2px solid $red!important;
}
