.modal{
    &-content{
        border-radius: 15px;
        background: none;
    }

    button{
        position: absolute;
        right: 10px;
        top: 15px;
        filter: brightness(10000);
        background: url(../images/icons/close.svg) center/1em auto no-repeat;
        z-index: 100;
    }
}