#ninth_screen{
    position: relative;
    padding: 60px 0;
    z-index: 1;

    @media( max-width: 767px ){
        padding: 30px 0;
    }

    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/elements/abstract.svg);
        background-repeat: no-repeat;
        width: 2107px;
        height: 882px;
        top: -95px;
        right: -45%;
        z-index: -1;
    }

    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/elements/abstract.svg);
        background-repeat: no-repeat;
        width: 2433px;
        height: 1259px;
        right: -8%;
        bottom: -12%;
        transform: rotate(169deg);
        z-index: -1;
    }
}

.ninth_screen{
    &__attention{
        position: relative;
        padding-top: 60px;
        padding-bottom: 100px;
        z-index: 1;

        @media( max-width: 767px ){
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &::before{

            content: none;
            position: absolute;
            width: 732px;
            height: 732px;
            right: -25%;
            top: 0%;
            transform: rotate(3deg);
            background-image: url(../images/attention2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            transition: .2s;

            @media( max-width: 1199px ){
                content: "";
            }

            @media( max-width: 767px ){
                content: none;
            }
            
            // animation: 5s ease-in-out 0s infinite alternate bounce_attention;
        }

        @keyframes bounce_attention {
            from{
                transform:  translate(0%, 0%) scale(1) rotate(3deg);
            }

            to{
                transform: translate(10%, 0%) scale(1) rotate(7deg);
            }
        }

        &-block{
            display: grid;
            grid-gap: 15px;
            width: 55%;
            @media( max-width: 767px ){
                width: 100%;
            }
        }

        &-description{
            font-size: 1.2em;
            @media( max-width: 767px ){
                text-align: justify;
            }
        }

        &-title{
            font-size: 1.8em;
            color: $red;
            font-weight: 600;
        }
        
        &-info{
            font-size: 1.2em;
            @media( max-width: 767px ){
                text-align: justify;
            }
        }

        &-action{
            display: grid;
            grid-gap: 10px;
            padding-top: 35px;

            .button{
                font-size: 1.5em;
                padding: 30px 29px;
            }

            .description{
                text-align: center;
                font-weight: 600;
            }
        }


    }

    &__warranty{
        position: relative;
        padding-top: 100px;
        padding-bottom: 60px;
        display: grid;
        grid-gap: 45px;
        z-index: 1;
        @media( max-width: 1199px ){
            padding-top: 140px;
            margin-top: -140px;
            margin-bottom: 70px;
        }
        @media( max-width: 767px ){
            padding-top: 70px;
            margin-top: -70px;
            margin-bottom: 40px;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/elements/honeycomb3.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 619px;
            height: 561px;
            left: -15%;
            top: 15%;
            transform: rotate(15deg);
            z-index: -1;
            
            animation: 5s ease-in-out 0s infinite alternate bounce_honeycomb;

            @media( max-width: 1199px ){
                left: -38%;
            }
            @media( max-width: 767px ){
                left: -110%;
            }
        }
    
        &::after{
            position: absolute;
            content: "";
            background-image: url(../images/elements/honeycomb3.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 675px;
            height: 605px;
            left: 60%;
            top: 50%;
            transform: rotate(360deg);
            z-index: -1;

            animation: 7s ease-in-out 0s infinite alternate bounce_honeycomb_1;
        }

        h2{
            text-align: center;
        }

        @keyframes bounce_honeycomb {
            from {
                transform: rotate(15deg);
            }

            to{
                transform: scale(1.2) rotate(15deg);
            }
        }

        @keyframes bounce_honeycomb_1 {
            from {
                transform: translate(0, 0) rotate(360deg);
            }

            to{
                transform: translate(0, -7%) scale(1.1) rotate(360deg);
            }
        }
    }
}