$bg-size : 120%;
$animation-time : 5s;

.reason{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 60px 1fr;

    @media( max-width: 1300px ){
        grid-template-rows: 80px 1fr;
    }

    @media( max-width: 1199px ){
        grid-gap: 10px 25px;
    }
    @media( max-width: 767px ){
        position: relative;
    }

    &__number{
        grid-row-start: 1;
        grid-row-end: 3;

        font-size: 285px;
        line-height: 0.8;

        @media( max-width: 767px ){
            position: absolute;
            z-index: -1;
            opacity: 0.3;
        }

        &-1{
            padding-left: 32px;
            background: -webkit-linear-gradient(305deg, #A5AC73 0%, #455175 87.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: $bg-size $bg-size;
            animation: gradient $animation-time ease infinite;
            @media( max-width: 1199px ){
                padding-left: 0;
            }

        }

        &-2{
            background: -webkit-linear-gradient(305deg, #455175 0%, #A5AC73 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: $bg-size $bg-size;
            animation: gradient $animation-time ease infinite;
        }

        &-3{
            background: -webkit-linear-gradient(#455175 0%, #A5AC73 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: $bg-size $bg-size;
            animation: gradient $animation-time ease infinite;
        }

        &-4{
            background: -webkit-linear-gradient(226deg, #A5AC73 0, #455175 74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: $bg-size $bg-size;
            animation: gradient $animation-time ease infinite;
        }

        &-5{
            background: -webkit-linear-gradient(#455175 0%, #A5AC73 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: $bg-size $bg-size;
            animation: gradient $animation-time ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 100%;
            }
            50% {
                background-position: 100% 0%;
            }
            100% {
                background-position: 0% 100%;
            }
        }
    }

    &__title{
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.7;
        @media( max-width: 1199px ){
            font-size: 1.5em;
            align-self: center;
        }
        @media( max-width: 767px ){
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__description{
        grid-row-start: 2;
        grid-row-end: 3;
        @media( max-width: 1199px ){
            font-size: 1.2em;
            width: 80%;
        }
        @media( max-width: 767px ){
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
        }
    }

   
}