#reviews{
    padding-top: 100px;
    padding-bottom: 60px;

    @media( max-width: 1199px ){
        padding-top: 140px;
        margin-top: -140px;
        padding-bottom: 140px;
    }

    @media( max-width: 767px ){
        padding-top: 70px;
        margin-top: -70px;
        padding-bottom: 70px;
    }

    &-block{
        position: relative;
    }
}

.reviews{
    &__item{
        display: grid;
        grid-gap: 20px;
        padding: 25px 15px;
        border-radius: 12px;
        background-color: $white;
        margin: 15px;
        box-shadow: $shadow_black;

        &-image{
            position: relative;
            display: flex;
            justify-content: center;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin: auto;
            overflow: hidden;
            // box-shadow: $shadow_black;

            @media( max-width: 1300px ){
                width: 200px;
                height: 200px;
            }

            @media( max-width: 1199px ){
                width: 150px;
                height: 150px;
            }

            img{
                position: absolute;
                width: 100%;
                object-fit: contain;
                object-position: top center;
            }
        }

        &-title{
            font-size: 1.2em;
            font-weight: 600;
        }

        &-description{
            text-align: justify;
        }
    }

    &__nav{
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 100vw;
        top: calc( 50% - 30px );

        @media( max-width: 1199px ){
            display: none;
        }

        .prev,
        .next{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            padding: 15px;
            transition: .2s;
            border-radius: 50%;

            &:hover{
                background-color: $white;
                box-shadow: $shadow_black;
                transition: .2s;
            }

            img{
                position: absolute;
                width: calc(100% - 15px);
                height: calc(100% - 15px);
                margin: auto;
            }
        }

        .prev{
            left: 25px;
        }

        .next{
            right: 25px;
        }
    }
}