.round {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    label {
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
        left: 0;
        position: absolute;
        top: -1px;
        width: 20px;

        &:after {
            border: 2px solid $blue_dark;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 4px;
            transform: rotate(-45deg);
            width: 12px;
        }
    }

    input[type="checkbox"] {
        visibility: hidden;
    }

    input[type="checkbox"]:checked + label {
        background-color: $white;
        border-color: $white;
    }

    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
}