#second_screen{
    position: relative;
    padding: 60px 0;
    z-index: 1;
    
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/elements/abstract.svg);
        background-repeat: no-repeat;
        width: 2107px;
        height: 882px;
        top: -95px;
        right: -45%;
        z-index: -1;
    }
}