.services{
    display: grid;
    grid-gap: 65px;
    grid-template-columns: repeat(4, 1fr);

    @media( max-width: 1199px ){
        grid-gap: 25px;
    }

    @media( max-width: 767px ){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }

    &__item{
        display: grid;
        grid-gap: 15px;
        z-index: 1;

        &-title{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: $blue_dark;
            color: $white;
            font-size: 1.5em;
            height: 170px;
            border-radius: 12px;
            overflow: hidden;
            z-index: 1;

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 30px;
                bottom: 0;
                left: 0;
                background-image: url(../images/elements/service-block.png);
                background-position: center;
                background-size: cover;
            }

            span{
                display: flex;
                padding: 25px;
                padding-bottom: 55px;
                text-align: center;
                align-items: center;
                @media( max-width: 767px ){
                    padding: 15px;
                    padding-bottom: 35px;
                }
            }
        }

        &-price{
            font-size: 1.5em;
            font-weight: 600;
            @media( max-width: 767px ){
                text-align: center;
                font-size: 2em;
            }
        }

        &-description{
            min-height: 90px;
            @media( max-width: 1199px ){
                height: 150px;
            }
            @media( max-width: 767px ){
                height: auto;
            }
        }

        .button{
            max-width: 100%;
            margin: 0;
        }
    }
}