#sixth_screen{
    // overflow: hidden;
    position: relative;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/elements/abstract.svg);
        background-repeat: no-repeat;
        width: 2107px;
        height: 882px;
        top: -95px;
        right: -45%;
        z-index: -1;
    }

    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/elements/abstract.svg);
        background-repeat: no-repeat;
        width: 2433px;
        height: 1259px;
        right: -8%;
        bottom: -12%;
        transform: rotate(169deg);
        z-index: -1;
    }
}

.sixth_screen{
    &__advantage{
        padding-top: 60px;
        padding-bottom: 60px;

        @media( max-width: 767px ){
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .advantages__item{
            padding: 20px 35px;
            font-size: 1.3em;
            font-weight: 500;
        }
    }

    &__owner{
        padding-top: 60px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 30px;

        @media( max-width: 767px ){
            padding-top: 30px;
            padding-bottom: 30px;
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }

        &-person{
            display: grid;
            align-items: center;
            justify-content: center;
            grid-gap: 10px;
            text-align: center;

            &__image{
                position: relative;
                width: 390px;
                height: 445px;

                @media( max-width: 767px ){
                    width: 100%;
                    height: max-content;
                }

                &::after{
                    content: "";
                    position: absolute;
                    background-image: url(../images/elements/photo.png);
                    background-repeat: no-repeat;
                    left: -65px;
                    bottom: -90px;
                    width: 425px;
                    height: 257px;
                    z-index: 1;

                    @media( max-width: 1199px ){
                        display: none;
                    }
                }

                .honeycomb{
                    right: -35px;

                    @media( max-width: 1199px ){
                        top: -6%!important;
                    }
                }

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    object-fit: contain;
                    @media( max-width: 767px ){
                        position: relative;
                    }
                }
            }

            &__name{
                font-size: 1.2em;
                color: $green_dark;
                font-weight: 600;
                z-index: 1;
            }

            &__title{
                font-size: 1.2em;
                z-index: 1;
            }
        }

        &-info{
            display: grid;
            grid-gap: 30px;

            .subtitle{
                font-size: 1.3em;
                color: $green_dark;
                text-align: center;
            }

            h3{

                font-size: 2.5em;
                text-align: center;
                font-weight: 600;
            }

            h3,
            .description,
            &__test{
                width: 65%;
                margin: 0 auto;
                @media( max-width: 1300px ){
                    width: 100%;
                }
            }

            .description{
                @media( max-width: 767px ){
                    text-align: justify;
                }
            }

            &__test{
                display: grid;
                grid-gap: 15px;
                padding: 30px;
                border-radius: 12px;
                border: 4px solid $blue_dark;

                &-title{
                    text-align: center;
                }

                .button{
                    width: 260px;
                }
            }
        }

    }

    &__promo{
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        z-index: 1;

        @media( max-width: 767px ){
            padding-bottom: 70px;
        }

        &::before{
            content: "";
            position: absolute;
            width: 732px;
            height: 732px;
            left: -25%;
            top: -5%;
            transform: rotate(-3deg);
            background-image: url(../images/attention.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
        }

        h2,
        h3,
        .title{
            text-align: right;
            @media( max-width: 767px ){
                text-align: center;
            }
        }

        h2{
            font-size: 5em;
            @media( max-width: 1300px ){
                font-size: 4em;
            }
            @media( max-width: 1199px ){
                font-size: 3.5em;
            }
            @media( max-width: 767px ){
                font-size: 2em;
            }
        }

        h3{
            font-size: 3em;
            @media( max-width: 767px ){
                font-size: 1.8em;
                font-weight: 600;
            }
        }

        .title{
            font-size: 1.5em;
        }

        &-action{
            padding-top: 35px;
            display: grid;
            grid-gap: 5px;
            align-self: flex-end;

            @media( max-width: 767px ){
                align-self: center;
            }

            .button{
                font-size: 1.5em;
                padding: 30px 29px;
            }

            .description{
                text-align: center;
                font-weight: 600;
            }
        }
    }

    &__services{
        display: grid;
        grid-gap: 45px;
        padding-top: 100px;
        padding-bottom: 70px;
        @media( max-width: 1199px ){
            padding-top: 140px;
            margin-top: -140px;
        }
        @media( max-width: 767px ){
            padding-top: 70px;
            margin-top: -70px;
            padding-bottom: 30px;
        }
        h2{
            color: $black_text;
            text-align: center;
        }

    }

    &__installment{
        padding-top: 60px;
        padding-bottom: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media( max-width: 1199px ){
            grid-template-columns: 1.2fr 1fr;
            grid-gap: 20px;
        }

        @media( max-width: 767px ){
            grid-template-columns: 1fr;
            padding-bottom: 60px;
        }

        h2{
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 3;
            @media( max-width: 767px ){
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }

        &-info{
            display: grid;
            grid-gap: 30px;

            &__list{
                display: grid;
                grid-gap: 10px;
                font-size: 1.8em;
                @media( max-width: 1199px ){
                    font-size: 1.5em;
                }
                &-item{
                    position: relative;
                    z-index: 1;
                    padding-left: 25px;
                    align-self: center;

                    @media( max-width: 767px ){
                        padding-left: 0;
                        text-align: center;
                        font-size: 1.3em;
                    }

                    &::before{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        top: calc( 50% - 5px );
                        left: 0;
                        background-color: $black_text;
                        @media( max-width: 767px ){
                            content: none;
                        }
                    }

                    .large{
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                }
            }

            &__description{
                padding-top: 45px;
                font-size: 1.15em;
                @media( max-width: 767px ){
                    padding-top: 15px;
                    text-align: justify;
                }
            }

            &__action{
                display: grid;
                grid-gap: 10px;
                justify-content: flex-start;

                @media( max-width: 767px ){
                    justify-content: center;
                }

                .button{
                    font-size: 1.5em;
                    padding: 30px 29px;
                }

                .description{
                    text-align: center;
                    font-weight: 600;
                }
            }
        }

        &-percent{
            position: relative;
            align-self: flex-end;
            justify-content: flex-end;
            text-align: right;
            z-index: -1;

            @media( max-width: 767px ){
                text-align: center;
                justify-content: center;
                align-self: center;
            }
            &::before{
                content: "";
                position: absolute;
                width: 746px;
                height: 444px;
                right: -25%;
                bottom: 0;
                background-image: url(../images/elements/zero_percent.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                z-index: -1;
            }
            h3{
                font-size: 5em;
                font-weight: 600;
                @media( max-width: 1199px ){
                    font-size: 4em;
                }
                @media( max-width: 767px ){
                    font-size: 3.5em;
                }
            }

            h4{
                font-size: 3.5em;
                font-weight: 600;
                .large{
                    font-size: 1.2em;
                }
                @media( max-width: 767px ){
                    font-size: 3em;
                }
            }

            &__description{
                width: 80%;
                font-size: 1.5em;
                margin-right: 0;
                margin-left: auto;
                @media( max-width: 1199px ){
                    font-size: 1.2em;
                    width: 100%;
                }
            }
        }
    }
}
