#tenth_screen{
    position: relative;
    background-image: url(../images/bg.png);
    background-position: top center;
    // background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset $shadow_black;
    z-index: 2;
}

.tenth_screen{
    display: grid;
    grid-gap: 45px;
    padding-top: 100px;
    padding-bottom: 60px;
    @media( max-width: 1199px ){
        padding-top: 140px;
        margin-top: -140px;
    }
    @media( max-width: 767px ){
        padding-top: 70px;
        margin-top: -70px;
        padding-bottom: 30px;
    }
    h2{
        text-align: center;
    }
}