#third_screen{
    // padding: 40px 0;
}

.third_screen{
    padding-top: 100px;
    padding-bottom: 80px;
    display: grid;
    grid-gap: 80px 150px;
    grid-template-columns: 1fr 2.5fr;
    @media( max-width: 1199px ){
        padding-top: 140px;
        margin-top: -140px;
    }
    @media( max-width: 767px ){
        padding-top: 70px;
        margin-top: -70px;
        padding-bottom: 30px;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    h2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        @media( max-width: 767px ){
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    &__person{
        display: grid;
        grid-gap: 10px;
        align-items: center;
        justify-content: center;

        &-image{
            position: relative;
            z-index: 1;
            &__honeycomb{
                top: -9%;
                right: -80px;

                width: 430px;
                height: 316px;
                position: absolute;
                content: "";
                z-index: -1;

                animation: 3s ease-in-out 0s infinite alternate bounce_honeycomb_3;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            @keyframes bounce_honeycomb_3 {
                from {
                    transform: scale(1);
                }

                to{
                    transform: scale(0.9);
                }
            }

            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/elements/photo.png);
                background-repeat: no-repeat;
                left: -65px;
                bottom: -90px;
                width: 425px;
                height: 257px;
                z-index: 1;
            }
        }

        &-title{
            text-align: center;
            z-index: 10;
            font-size: 1.2em;
            @media( max-width: 767px ){
                font-size: 1.5em;
            }
            a{
                color: $black;
                text-decoration: underline!important;
                @media( max-width: 767px ){
                    font-weight: 600;
                }
            }
        }
    }

    &__info{
        display: grid;
        grid-gap: 40px;
        @media( max-width: 767px ){
            grid-gap: 40px;
        }

        .description{
            font-size: 1.2em;
            z-index: 1;
            @media( max-width: 767px ){
                text-align: justify;
            }
        }

        &-form{
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr;
            border-radius: 12px;
            border: 4px solid $blue_dark;
            background-color: $white;
            box-shadow: $shadow_black;

            @media( max-width: 1199px ){
                grid-template-columns: 1fr;
            }

            &__left{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: $blue_dark;
                justify-content: space-around;
                align-items: center;

                .button{
                    font-size: 1.2em;
                }

                div{
                    font-size: 1.2em;
                    color: $white;
                }
            }

            &__right{
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: space-between;
                font-size: 0.98em;

                // a{
                //     color: $black;
                //     text-decoration: underline!important;
                //     font-size: 1.2em;
                // }

                .button{
                    font-size: 1.2em;
                    width: 100%;
                    align-self: flex-start;
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
        }
    }
}
