.warranty{
    position: relative;
    display: grid;
    padding: 25px 20px;
    grid-gap: 30px;
    border-radius: 12px;
    border: 4px solid $blue_dark;
    background-color: $white;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    
    @media( max-width: 1199px ){
        width: 100%;
    }
    @media( max-width: 767px ){
        border: none;
        padding: 0;
        background-color: transparent;
    }

    &__item{
        display: grid;
        grid-template-columns: 30px 1fr 40px;
        padding: 10px 15px;
        border: 1px solid rgba($blue_dark, 0.3);
        border-radius: 10px;
        font-size: 1.4em;
        box-shadow: $shadow_black;
        align-items: center;
        background-color: $white;
        
        &-num{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-check{
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: 1px solid rgba($blue_dark, 0.3);
            box-shadow: inset $shadow_black;

            &::after{
                position: absolute;
                content: "L";
                text-shadow:-2px 2px 4px rgba($black_text, 0.3);
                font-size: 2.7em;
                font-weight: 600;
                color: $green_light;
                transform:  rotate(225deg) rotateX(180deg);
                top: -75%;
                left: 40%;
            }
        }
    }
}