.ways{
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(4, 1fr);

    @media( max-width: 1199px ){
        grid-template-columns: repeat(2, 1fr);
    }

    @media( max-width: 767px ){
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    &__item{
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 45px;
        overflow: hidden;
        border-radius: 12px;
        background-color: $blue_dark;
        color: $white;
        max-height: 170px;
        // box-shadow: $shadow_black;

        &::before{
            content: "";
            position: absolute;
            width: 45px;
            height: 100%;
            left: 0px;
            top: 0;
            background-image: url(../images/elements/way-block.png);
            background-position: center;
            background-size: cover;
        }

        span{
            width: 100%;
            height: 100%;
            padding: 65px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.3em;
            @media( max-width: 767px ){
                padding: 45px 15px;
            }
        }
    }
}