<template>
    <div class="modal fade" id="test_modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div v-if="show_form" class="form popup">
                    <div class="form__title">
                        Бесплатная консультация по получению военного билета
                    </div>
                    <form id="modal_form" class="form__inputs" @submit.prevent="send" @keydown="form.onKeydown($event)">
                        <div class="form__inputs-item">
                            <input v-model="form.name" name="name" type="text" :class="{'is-invalid': form.errors.has('name')}" placeholder="Ваше имя"/>
                        </div>
                        <div class="form__inputs-item">
                            <masked-input v-model="form.phone" mask="\+\7 (111) 111-11-11" name="phone" type="text" :class="{'is-invalid': form.errors.has('phone')}" placeholder="Телефон"/>
                        </div>
                        <div class="form__inputs-item">
                            <input :disabled="form.busy" type="submit" class="button" value="Бесплатная консультация специалиста">
                        </div>
                        <div class="form__inputs-item">

                        </div>
                        <div class="form__inputs-item agreenment">
                            <div class="round">
                                <input v-model="form.agreenment" type="checkbox" name="agreenment" id="test_popup_agreenment"/>
                                <label for="test_popup_agreenment" :class="{'is-invalid': form.errors.has('agreenment')}"></label>
                            </div>
                            <span>Я согласен с <a href="/privacy-policy">Пользовательским соглашением</a></span>
                        </div>
                        <div class="form__inputs-item">
                            <span class="form__inputs-item__title">Перезвоним в течение 1 минуты</span>
                        </div>
                    </form>
                    <div class="success">
                        <img src="/images/icons/success.svg"/>
                        <div>
                            Заявка успешно отправлена
                        </div>
                    </div>
                </div>
                <div v-else class="form popup">
                    <div class="form__test">
                        <div class="form__title">
                            Тест на годность к воинской службе
                        </div>
                        <div class="form__question" v-model="current_question">
                            {{ current_question.question }}
                        </div>
                        <div class="form__answers">
                            <a href="javascript:void(0)" class="button" v-on:click="nextQuestion()">
                                Да
                            </a>
                            <a href="javascript:void(0)" class="button" v-on:click="nextQuestion()">
                                Нет
                            </a>
                            <a href="javascript:void(0)" class="button" v-on:click="nextQuestion()">
                                Не знаю
                            </a>
                        </div>
                        <div class="form__progress" v-bind:class="'progress'+this.progress">
                            <span>{{this.index+1}}/{{this.questions.length}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import MaskedInput from 'vue-masked-input'

    export default {

        components: {
            MaskedInput
        },

        props: {
            questions: {
                type: Array
            }
        },
        data () {
            return {
            index: 0,
            progress: 0,
            show_form: false,
            current_question: {
                type: Object
            },
            form: new Form({
                name: '',
                phone: '',
                agreenment: ''
              })
            }
        },

        methods: {

            send () {
                this.form.post('/request')
                    .then(( response ) => {

                        $('.form__inputs').addClass('hide')
                        $('.form .success').addClass('show')
                        ym(80973448,'reachGoal','target_test')
                        this.form.reset();

                    })
            },

            getQuestions() {
                return this.questions = JSON.parse(this.questions);
            },

            nextQuestion: function (event) {
                if( this.index < this.questions.length-1 ){
                    this.index+=1
                    this.current_question = this.questions[this.index]
                    this.progress = parseInt((this.index/this.questions.length)*100)
                }else{
                    this.index = 0
                    this.show_form = true
                    this.progress = 100
                }
            }

        },

        created: function () {
            this.current_question = this.questions[this.index]
        },
    }
</script>
