<template>
    <div>
        <form class="form__inputs" @submit.prevent="send" @keydown="form.onKeydown($event)">
            <div class="form__inputs-item">
                <input v-model="form.name" name="name" type="text" :class="{'is-invalid': form.errors.has('phone')}" placeholder="Ваше имя"/>
            </div>
            <div class="form__inputs-item">
                <input v-model="form.phone" name="phone" type="text" :class="{'is-invalid': form.errors.has('phone')}" placeholder="Телефон"/>
            </div>
            <div class="form__inputs-item">
                <input :disabled="form.busy" type="submit" class="button" value="Бесплатная консультация специалиста">
            </div>
            <div class="form__inputs-item">

            </div>
            <div class="form__inputs-item agreenment">
                <div class="round">
                    <input v-model="form.agreenment" type="checkbox" name="agreenment" id="agreenment"/>
                    <label for="agreenment" :class="{'is-invalid': form.errors.has('agreenment')}"></label>
                </div>
                <span>Я согласен с <a href="/privacy-policy">Пользовательским соглашением</a></span>
            </div>
            <div class="form__inputs-item">
                <span class="form__inputs-item__title">Перезвоним в течение 1 минуты</span>
            </div>
        </form>
        <div class="success">
            <img src="/images/icons/success.svg"/>
            <div>
                Заявка успешно отправлена
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data () {
            return {
            form: new Form({
                name: '',
                phone: '',
                agreenment: ''
              })
            }
        },

        methods: {

            send () {
                this.form.post('/request')
                    .then(( response ) => {

                        $('.form__inputs').addClass('hide')
                        $('.form .success').addClass('show')
                        this.form.reset();

                    })
            },
        }
    }
</script>
